/* responsive Video */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:30px;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* login-menu */
.login {
width: 300px;
}
.login-screen {
background-color:#396a77;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align:center;
}
.control-group {
margin-bottom: 10px;
}

input {
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btnLogin {
  border: 2px solid transparent;
  background-color:#3497db !important;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btnLogin:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: white;
  display: block;
	margin-top: 12px;
}

#loginMenu {
	background-color:#396a77 !important;
	height:auto !important;
	box-shadow:-2px 2px 2px rgba(0,74,96,0.87);
	}
	
.marginSocial {
	margin-top:20px;
	}
	
#map {
  width:100%;
  height: 400px;
  margin: 0;
}

/*timeline*/
#timeline {
	
	}