<script src="{{ '../../js/detail.js' | relative_url }}"></script>
<script src="{{ '../../js/searchDetail.js' | relative_url }}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{{ '../../js/seen.js' | relative_url }}"></script>
<script src="{{ '../../js/wish.js' | relative_url }}"></script>
<script src="{{ '../../js/seenShow.js' | relative_url }}"></script>
<script src="{{ '../../js/wishShow.js' | relative_url }}"></script>
<script src="{{ '../../js/timeline.js' | relative_url }}"></script>