<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"></script>
<script src="{{ '../../js/main.js' | relative_url }}"></script>
<script src="{{ '../../js/detail.js' | relative_url }}"></script>
<script src="{{ '../../js/TypeIt.js' | relative_url }}"></script>
<script src="{{ '../../js/theatres.js' | relative_url }}"></script>
<script src="{{ '../../js/contact.js' | relative_url }}"></script>
