<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.typeit/4.2.3/typeit.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
<script src="{{ '../../js/initialize.js' | relative_url }}"></script>
<script src="{{ '../../js/login.js' | relative_url }}"></script>
<script src="{{ '../../js/main.js' | relative_url }}"></script>

