.nav-color {
	background-color:#396a77 !important;
	border-color:transparent !important;
	}
	
nav div div div ul li a {
	color:white !important;
	}

nav div div div ul .dropdown-menu li a {
	color:black !important;
	}
	
nav div div div ul li a:hover{
	color:#3497db !important;
	}	